@font-face { font-family: 'Broadway'; src: url('./webfont/Broadway.eot?#iefix') format('embedded-opentype'), url('./webfont/Broadway.woff') format('woff'), url('./webfont/Broadway.ttf') format('truetype'), url('./webfont/Broadway.svg#Broadway') format('svg'); font-weight: normal; font-style: normal; }

.app {
    .header {
        user-select: none;
        position: relative;
        margin-top: 35px;
        width: 100%;
        height: 300px;
        background: #808080;
        background-image: url("./DriveThru.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            font-weight: bold;
            color: #ffffff;
            font-family: "Broadway";
            white-space: nowrap;

            color: white;

            background: #000000c4;
            width: 100%;
            padding: 30px 0px;
            text-align: center;
        }
        .bar {
            z-index: 1000000000;
            position: fixed;
            top: 0;
            left: -10px;
            right: -10px;
            height: 35px;
            background: #FFFFFF;
            color: #000000;
            padding: 0px 10px;
            &.notop {
                box-shadow: 0px 0px 15px #000000;
            }
            a {
                text-decoration: none;
                color: #000000;
                display: inline-block;
                padding: 5px 10px;
                &.link:hover {
                    opacity: .5;
                }
            }
            .left {
                float: left;
            }

            .right {
                float: right;
                .logout {
                    .user {
                        padding-right: 0px !important;
                        img {
                            margin-right: 10px;
                            vertical-align: bottom;
                            height: 20px;
                            border-radius: 100px;
                            border: 1px solid #5f5f5f;
                        }
                    }
                    .logoutbutton {
                        &:hover {
                            color: #ac0000;
                        }
                        font-weight: bold;
                        cursor: pointer;
                    }
                    
                }
            }
        }
    }
    .addsong {
        user-select: none;
        cursor: pointer;
        background: #008000;
        display: inline-block;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: -30px;
        padding: 5px 10px;
        border-radius: 3px;
        color: #FFFFFFFF;
        &:hover {
            background: #006100;
        }
    }
    .mashups {
        background: white;
        overflow: hidden;
    }
    footer {
        border-top: 1px solid black;
        padding: 20px 30px;
        .tag {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 650px) {
    .app {
        .header {
            .bar {
                .user {
                    .username {
                        display: none;
                    }
                    .discriminator {
                        display: none;
                    }
                    img {
                        margin: 0 !important;
                    }
                }
            }
        }
        .addsong {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .app {
        .header {
            .title {
                font-size: 30px;
            }
            height: 200px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .app {
        .header {
            .title {
                font-size: 25px;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .app {
        .header {
            .title {
                font-size: 20px;
            }
            .bar {
                .left {
                    display: none;
                }
            }
        }
    }
}